.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}

.product-name,
.price,
.seller {
  /* font-size:32px; */
  font-weight: bold;
}

.product-name {
  color: #bf3a3a;
}
.price {
  color: #3f3f3f;
}

.price::before {
  content: "$";
}
